span.column-title(ng-transclude)
span.glyphicon.glyphicon-chevron-down(ng-show="predicate === '{{value}}' && reverse")
span.glyphicon.glyphicon-chevron-up(ng-show="predicate === '{{value}}' && !reverse")